<!DOCTYPE html>
<html><head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="font-awesome-4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="css/spruits-2018.4.css">

<style>
body {margin:0;padding:1em;background:#ffffb0;}
</style>
<title>Select</title>
<script src="js/jquery-3.1.1.min.js"></script>
<script src="js/spruits2.js"></script>
<script>
"use strict"
$(document).ready(function(){

const Component = spruits2.Component;
const Select = spruits2.Select;

const testcases = [];

const Testcase = function(box, val) {
  Component.call(this, { insertLabel:false });
  
  if (val) box.set("val", val);  
  this.$field.append(box.$field, "<hr/>");
}
testcases.push(new Testcase( new Select({ fieldName:"Select 1", options:{ "select 1":10, "select 2":11, "select 3":12 } }) ));
testcases.push(new Testcase( new Select({ fieldName:"Select 2", options:[ "this", "that", "another", "something long" ] }) ));
//testcases.push(new Testcase( new Select({ fieldName:"Select 3" }), false ));

//****************************************************************************************************************************************************************************
$("body").append(
  "<h4>Select</h4>", testcases.map(testcase => testcase.$field)
);


}); //document.ready
</script>
</head>
<body>
</body>
</html>
