<!DOCTYPE html>
<html><head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="font-awesome-4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="css/spruits-2018.4.css">

<style>
body {margin:0;padding:1em;background:#ffffb0;}
</style>
<title>InputTime</title>
<script src="js/jquery-3.1.1.min.js"></script>
<script src="js/spruits2.js"></script>
<script>
"use strict"
$(document).ready(function(){

const Component = spruits2.Component;
const TimePicker = spruits2.TimePicker;
const InputTime = spruits2.InputTime;

const testcases = [];

const tp = new TimePicker({ fieldName:"TimePicker", $modalcontainer:$("body") });

const Testcase = function(inputTime) {
  Component.call(this, { fieldName:inputTime.name });

  this.$field = inputTime.$field;
};

testcases.push(new Testcase( new InputTime({ fieldName:"InputTime 1", timepicker:tp }) ));

//****************************************************************************************************************************************************************************
$("body").append(
  "<h4>InputTime</h4>", testcases.map(testcase => testcase.$field)
);


}); //document.ready
</script>
</head>
<body>
</body>
</html>
